<!doctype html>
%meta{charset: "utf-8"}
%meta{content: "width=device-width, minimum-scale=1, maximum-scale=1, initial-scale=1, user-scalable=no", name: "viewport"}
%meta{name: "apple-mobile-web-app-capable", content: "yes"}
%meta{name: "apple-mobile-web-app-status-bar-style", content: "black"}
%meta{name: "apple-mobile-web-app-title", content: "mm"}
%script{defer: "", src: "js/application.js"}
%style
  = include_file "app/css/application.css"
.ui-box
  .ui#tenkey
    .row{style: "height: 24%"}
      .lcd.col-12
        %input{name: "bpm", type: "number", value: "120"}/
        %canvas#light{height: "36", width: "36"}
    .row{style: "height: 19%"}
      %a.col-4.tenkey-key{href: "#", name: "numkey", value: "7"} 7
      %a.col-4.tenkey-key{href: "#", name: "numkey", value: "8"} 8
      %a.col-4.tenkey-key{href: "#", name: "numkey", value: "9"} 9
    .row{style: "height: 19%"}
      %a.col-4.tenkey-key{href: "#", name: "numkey", value: "4"} 4
      %a.col-4.tenkey-key{href: "#", name: "numkey", value: "5"} 5
      %a.col-4.tenkey-key{href: "#", name: "numkey", value: "6"} 6
    .row{style: "height: 19%"}
      %a.col-4.tenkey-key{href: "#", name: "numkey", value: "1"} 1
      %a.col-4.tenkey-key{href: "#", name: "numkey", value: "2"} 2
      %a.col-4.tenkey-key{href: "#", name: "numkey", value: "3"} 3
    .row{style: "height: 19%"}
      %a.col-4.tenkey-key{href: "#", name: "numkey", value: "0"} 0
      %a.col-4.tenkey-key
      %a.col-4.tenkey-key#toggle{href: "#"} ▶
