<!doctype html>
%script{defer: "", src: "js/application.js"}
%input{name: "bpm", type: "number", value: "120"}/
%button#toggle Start / Stop
%canvas#light{height: "64", width: "64"}
#tenkey.tenkey
  %button{name: "numkey", value: "0"} 0
  %button{name: "numkey", value: "1"} 1
  %button{name: "numkey", value: "2"} 2
  %button{name: "numkey", value: "3"} 3
  %button{name: "numkey", value: "4"} 4
  %button{name: "numkey", value: "5"} 5
  %button{name: "numkey", value: "6"} 6
  %button{name: "numkey", value: "7"} 7
  %button{name: "numkey", value: "8"} 8
  %button{name: "numkey", value: "9"} 9
