html, body {
  background: #333;
  color: #fff;
  font-family: sans-serif;
  margin: 0;
  padding: 0;
  height: 100%;
}

#__nuxt, #__layout, #__layout > div {
  height: 100%;
}

.ui-box {
  align-items: center;
  display: flex;
  font-size: 30px;
  flex-direction: row;
  margin: auto;
  height: 100%;
}

.ui {
  display: flex;
  font-size: 40px;
  font-weight: 600;
  flex-direction: column;
  flex-grow: 1;
  height: 100%;
}

.lcd {
  height: 100%;
  position: relative;
}

.lcd [name=bpm] {
  background: inherit;
  border: none;
  color: inherit;
  font-size: 90px;
  width: 100%;
  text-align: center;
}

#light {
  position: absolute;
  right: 10%;
  top: calc(50% - 18px);
}

.tenkey {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  font-size: 60px;
  max-width: 100%;
}

.row {
  display: flex;
  flex-grow: 1;
  border-bottom: 0.5px solid #888;
}

.row:last-child {
  border-bottom: none;
}


.tenkey-key {
  align-items: center;
  color: inherit;
  justify-content: center;
  text-decoration: none;
  transition-property: background;
  transition-duration: 0.2s;
}

.tenkey-key:active {
  background: #888;
  transition-duration: 0;
}

.col-4 {
  border-right: 0.5px solid #888;
  display: flex;
  flex-grow: 1;
  width: 33.33%;
}

.col-4:last-child {
  border-right: none;
}

.col-3 {
  border-right: 0.5px solid #888;
  display: flex;
  flex-grow: 1;
  width: 25%;
}

.col-3:last-child {
  border-right: none;
}

.col-12 {
  display: flex;
  flex-grow: 1;
  width: 100%;
}

.tenkey-key-wide {
  flex-grow: 2;
}
